@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
    -ms-overflow-style: none;		/* Hide scrollbar for IE and old Edge */
	scrollbar-width: none;			/* Hide scrollbar for Firefox */
}

.no-scrollbar::-webkit-scrollbar {	/* Hide scrollbar for Chrome, Safari, new Edge and Opera */
    display: none;
}